body {
  margin: 0%;
  padding: 0;
  background-color: #b10909;
  font-family: 'Geologica', sans-serif;
  font-weight: lighter;
  display: grid;
  grid-template-rows: 8rem 1fr 15rem;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }
  @media screen and (max-width: 800px) {
    body {
      grid-template-rows: 20rem 1fr 15rem; } }

header {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  header #logo {
    height: 4.5rem;
    width: 4.5rem;
    margin-inline: 5rem; }
    @media screen and (max-width: 800px) {
      header #logo {
        margin-inline: 3rem; } }
  header nav {
    width: 80%;
    font-size: 1rem; }
    header nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly; }
      @media screen and (max-width: 800px) {
        header nav ul {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0%; } }
      header nav ul li {
        list-style-type: none; }
        @media screen and (max-width: 800px) {
          header nav ul li {
            margin-top: 0.5rem; } }
        header nav ul li a {
          text-decoration: none;
          color: #f5f5cb;
          font-size: 1.5rem;
          margin-right: 1rem; }

#mainIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  #mainIndex #mainSection {
    flex-basis: 40%;
    display: flex;
    align-items: end;
    justify-content: center; }
    #mainIndex #mainSection #imagenIndex {
      width: 34rem;
      height: 34rem;
      object-fit: cover; }
      @media screen and (max-width: 800px) {
        #mainIndex #mainSection #imagenIndex {
          width: 20rem;
          height: 20rem; } }
      @media screen and (max-width: 480px) {
        #mainIndex #mainSection #imagenIndex {
          width: 18rem;
          height: 15rem; } }
  #mainIndex aside {
    background-color: transparent;
    flex-basis: 60%; }
    #mainIndex aside h1 {
      margin-top: 10rem;
      margin-bottom: 0%;
      font-size: 5.5rem;
      color: whitesmoke; }
      @media screen and (max-width: 800px) {
        #mainIndex aside h1 {
          margin-top: 2rem; } }
    #mainIndex aside h2 {
      margin-top: 1rem;
      margin-bottom: 0%;
      font-size: 6.5rem;
      color: #f5f5cb; }
      @media screen and (max-width: 1620px) {
        #mainIndex aside h2 {
          font-size: 5rem; } }
    #mainIndex aside p {
      margin-inline: 5rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      font-size: 1.2rem;
      color: whitesmoke; }
      @media screen and (max-width: 800px) {
        #mainIndex aside p {
          margin-inline: 1rem; } }
    #mainIndex aside .button {
      padding: 15px 25px;
      margin-bottom: 3rem;
      border-color: whitesmoke;
      border-radius: 25px;
      background-color: transparent;
      color: #f5f5cb;
      font-size: 1.3rem; }
      #mainIndex aside .button a {
        text-decoration: none;
        font-size: 1.3rem;
        color: whitesmoke; }

footer {
  background-color: black; }
  footer section {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    footer section div {
      margin: 0.5rem; }
      footer section div a img {
        width: 3.5rem;
        height: 3.5rem; }
    footer section p {
      margin-left: 2rem;
      color: #f5f5cb; }

form {
  margin-bottom: 4rem; }
  form div {
    margin: 1rem 1rem 1rem 6rem; }
    @media screen and (max-width: 480px) {
      form div {
        margin: 1rem 1rem 1rem 2.7rem; } }
    form div input {
      padding: 1rem 1.5rem;
      border-radius: 10px;
      border-color: whitesmoke;
      background-color: #ffffff73; }
    form div input::placeholder {
      color: whitesmoke; }
    form div textarea {
      padding: 1rem 1.5rem;
      border-radius: 10px;
      border-color: whitesmoke;
      background-color: #ffffff73;
      resize: none; }
      @media screen and (max-width: 800px) {
        form div textarea {
          width: 18rem;
          height: 18rem; } }
      @media screen and (max-width: 480px) {
        form div textarea {
          width: 12rem;
          height: 12rem; } }
    form div textarea::placeholder {
      color: whitesmoke; }
    form div .button {
      padding: 15px 25px;
      margin-bottom: 3rem;
      border-color: whitesmoke;
      border-radius: 25px;
      background-color: transparent;
      color: #f5f5cb;
      font-size: 1.3rem; }
      form div .button a {
        text-decoration: none;
        font-size: 1.3rem;
        color: whitesmoke; }

#mainServicios {
  display: flex;
  flex-direction: column; }
  #mainServicios section {
    margin: 3rem 3rem 2rem 3rem; }
    #mainServicios section h3 {
      color: whitesmoke;
      margin: 3rem;
      font-size: 3rem; }
      @media screen and (max-width: 480px) {
        #mainServicios section h3 {
          font-size: 2rem; } }
    #mainServicios section p {
      margin: 3rem 5rem 3rem 5rem;
      font-size: 1.2rem;
      color: whitesmoke; }
      @media screen and (max-width: 480px) {
        #mainServicios section p {
          margin: 3rem 1rem 3rem 1rem; } }
    #mainServicios section div .button {
      padding: 15px 25px;
      border-color: #f5f5cb;
      border-radius: 25px;
      background-color: transparent;
      color: #f5f5cb;
      font-size: 1.3rem; }
      #mainServicios section div .button a {
        text-decoration: none;
        font-size: 1.3rem;
        color: whitesmoke; }
  #mainServicios #sectionServicios {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end; }

main h3 {
  color: whitesmoke;
  margin: 3rem;
  font-size: 3rem; }

main #section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  main #section2 .portfolioBox {
    width: 25rem;
    height: 30rem;
    margin: 3rem; }
    @media screen and (max-width: 480px) {
      main #section2 .portfolioBox {
        width: 18rem;
        height: 28rem;
        margin: 0.5rem; } }
    main #section2 .portfolioBox .imagenPortfolio {
      width: 25rem;
      height: 20rem;
      object-fit: cover;
      border-radius: 25px; }
      @media screen and (max-width: 480px) {
        main #section2 .portfolioBox .imagenPortfolio {
          width: 18rem;
          height: 15rem; } }
    main #section2 .portfolioBox a {
      text-decoration: none; }
      main #section2 .portfolioBox a h4 {
        font-size: 1.5rem;
        margin-left: 1rem;
        color: #f5f5cb; }
    main #section2 .portfolioBox .parrafoPortfolio {
      margin: 1rem;
      color: whitesmoke; }

#mainSobreMi #parrafoSobreMi {
  margin: 7rem;
  font-size: 1.5rem;
  color: whitesmoke; }

#mainSobreMi #section3 {
  margin: 3rem 0rem 5rem 5rem; }
  #mainSobreMi #section3 .appicon {
    height: 8rem;
    width: 8rem;
    margin: 2rem 3rem 5rem 0rem; }
  #mainSobreMi #section3 h5 {
    font-size: 2rem;
    font-weight: lighter;
    color: #f5f5cb; }
