main {
    h3 {
        color: $colorDos;
        margin: 3rem;
        font-size: 3rem;
    }
    #section2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .portfolioBox {
            width: 25rem;
            height: 30rem;
            margin: 3rem;

            @include sm {
                width: 18rem;
                height: 28rem;
                margin: 0.5rem;
            }
            .imagenPortfolio {
                width: 25rem;
                height: 20rem;
                object-fit: cover;
                border-radius: 25px;

                @include sm {
                    width: 18rem;
                    height: 15rem;
                }
            }
            a {
                text-decoration: none;
                h4 {
                font-size: 1.5rem;
                margin-left: 1rem;
                color: $colorTres;
            }
            }
            .parrafoPortfolio {
                margin: 1rem;
                color: $colorDos;
            }
        }
    }
}