$colorUno: #b10909;
$colorDos: whitesmoke;
$colorTres: #f5f5cb;
$colorCuatro: black;
$colorCinco: #ffffff73;
$colorSeis: rgb(126, 126, 255);
$colorSiete: rgb(253, 253, 101);
$colorOcho: rgb(255, 116, 176);

